.education-section {
  @include resume-section;
  @include responsive-padding;

  display: flex;
  align-items: center;

  &__content {
    width: 100%;
  }

  &__header {
    margin-bottom: 3rem;
  }
}

.education-section-item {
  @include responsive-flex-direction;

  justify-content: space-between;
  margin-bottom: 3rem;

  &__header {
    margin-bottom: 0;
  }

  &__subheader {
    @include heading-font;

    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  &__dates {
    @media (min-width: 768px) {
      text-align: right;
    }
  }
}
