#side-nav {
  text-align: center;

  .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
  }

  .navbar-toggler {
    &:hover {
      background-color: lighten($primary, 5%);
    }

    &:focus {
      outline-color: lighten($primary, 15%);
    }
  }

  .download-resume-button {
    align-self: center;
    width: 10rem;

    .spinner {
      color: $white;
    }
  }

  @media (min-width: $lg-page-min-width) {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-base-width;
    height: 100vh;

    .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;

      .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid fade-out($white, 0.8);

        &:hover {
          border: 0.5rem solid fade-out($white, 0.6);
        }
      }
    }

    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;

      .navbar-nav {
        flex-direction: column;
        width: 100%;

        .nav-item {
          display: block;

          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}
