.about-section {
  @include resume-section-layout;

  &__header {
    color: $secondary;
    margin-bottom: 0;

    &--primary {
      color: $primary;
    }
  }

  &__subheader {
    margin-bottom: 3rem;

    &--first {
      display: inline-block;
      color: $primary;
      font-style: oblique;
      padding-right: 0.5rem;
    }

    &--second {
      display: inline-block;
      font-size: 1.2rem;
      padding-left: 0.5rem;
    }
  }
}
