// Global styling for this template

.main-body {
  @include body-font;

  padding-top: 54px;
  color: $gray-600;

  @media (min-width: $lg-page-min-width) {
    // move the page body content out from under the left nav when on larger screens.
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;

  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}
