@import './vendor/bootstrap/bootstrap.min.css';

@import 'variables.scss';
@import 'mixins.scss';
@import 'global.scss';
@import 'nav.scss';
@import './sections/styles';

@import './overrides/bootstrap-overrides';
@import './vendor/fontawesome/css/all.min.css';
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700');
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i');
